@page "/Sıgn"
@inherits SıgnBase

<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .kutu {
        width: 400px;
        background: white;
        height: 700px;
        padding: 80px 40px;
        /*sağdan soldan 40px yukarıdan aşağıdan 80 px padding*/
        border-radius: 10px;
        border-style:  solid ;
        /*köşleri ovalleştirme*/
        position: absolute;
        left: 58%;
        /*soldan hizalama*/
        top: 50%;
        /*yukarıdan hizalama*/
        transform: translate(-50%, -50%);
        /*tam hizalama sağlamak için*/
    }

    .txtb {

        /*alt çizgi ekleme*/
        position: relative;
        margin: 30px 0;
    }

    .txtb input {
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
        border-bottom: 2px solid #adadad;
    }

    img.adminimg {
        margin-left: 85px;
        margin-bottom: 50px;
        display: block;
        background: black;
        border-radius: 25%;
        width: 140px;
        height: 140px;
    }

    .logbtn {
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, black 70%);
        background-size: 200%;
        color: white;
        outline: none;
        /*köşelerini kapatmak siyah olmamsı için*/
        cursor: pointer;
        border-radius: 15px;
    }

    .logbtn:hover {
        background: white;
        color: black;
        border: 2px solid black;
    }
</style>

<body>
    <div class="kutu">
        <div class="contact-form">
            <img src="images/kullanici.jpg" class="adminimg">
            <h2>Kayıt Ol</h2>
            <form action="">
                <div class="txtb">
                    <input type="text" placeholder="İsim" @bind="inputAd" required />
                    <input type="text" placeholder="Soyisim " @bind="inputSoyad" required />
                    <input type="text" placeholder="Kullanıcı Adı" @bind="inputKullaniciAdi" maxlength="32"
                        minlength="8" required />
                    <input type="password" placeholder="Şifre" @bind="inputPassword" maxlength="32" minlength="8"
                        required />
                </div>
                <input type="button" class="logbtn" value="Kayıt Ol" @onclick="InsertAccount" />
                <br><input type="button" class="logbtn" value="Giriş Yap" onclick="window.location.href ='/';" />
            </form>
        </div>
    </div>
</body>